.card{
    width: 80rem;
    height: auto;
}
.card h5{
    font-size: 3em;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    padding-top: 50px;
}
.card p{
    padding-top: 40px;
    font-size: 2em;
    font-family: 'Satisfy', cursive;
    overflow: auto;
}
.carousel-inner{
    margin: 0;
}
   