@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Rock+Salt|Satisfy&display=swap');


/*
font-family: 'Satisfy', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Rock Salt', cursive;
*/
/*header*/
.clignot{
    
    text-shadow: red 2px 0px 8px;
    font-weight: bold
}


body{
    z-index: 0;
    background-image: url(../img/bg_main.jpg);
    background-size: cover;
    background-attachment: fixed;
}

button{
    box-shadow: rgba(0, 0, 0, 0.51) 2px 2px 3px;
}

.logins{
    position: relative;
    height: auto;
}

.log, .numvert, .sub {
    position: absolute;
    color: whitesmoke;
    font-size: 1.5em;
}
.numvert{
    font-family: 'Satisfy', cursive;
    background-color: #00a900;
    padding: 4px 20px;
    border-radius: 12px;
    top: 20px;
    left: 50px;
    transform: scale(1);
}
.numvert:hover{
    transform: scale(1.05);
    transition: all .3s;
}
.log{
    top: 30px;
    right: 50px;
}
.log a, .sub a{
    color: whitesmoke;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.30) 4px 4px 2px;
}
.numvert a {
    color: whitesmoke;
    text-decoration: none;
}
.log a:hover, .sub a:hover, .numvert a:hover {
    color: rgb(254, 254, 73);
}
.sub{
    top: 30px;
    right: 120px;
}
.videoHeader{
    position: relative;

}
video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    border-bottom-left-radius: 300% 200%;
    border-bottom-right-radius: 300% 200%;
    border-bottom: 5px solid whitesmoke;
}
.logo{
    padding-top: 50px;
}
.logo img{
    height: 170px;
    width: 250px;
    display: block;
    margin: auto;
}
.nav{
    margin: 30px 0;
}
.nav a, .nav .dropdown{
    color: whitesmoke;
    font-size: 1.4em;
    font-family: 'Kaushan Script', cursive;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;

}
.nav a:hover{
    color: rgb(254, 254, 73);
    text-decoration: none;
    transition: color .3s;

}
.dropdown-menu{
    background-color: green;
    border-radius: 10px;
}
.dropdown-item:hover{
    background-color: rgb(102, 144, 246);
}
.nav ul{
    margin: 50px auto;
    font-size: 1.5em;
}
.nav ul li{
    float: left;
    list-style: none;
    padding: 0 30px;
}
h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: rgb(254, 234, 17);
    font-size: 4em;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.30) 4px 4px 3px;
    padding: 40px 0;
}
.bouton{
    display: inline;
    padding: 20px 40px;
}
.mybuttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.bouton button{
    font-size: 1.4em;
    font-family: 'Satisfy', cursive;
    margin: 0 8px;
    background: linear-gradient(0.25turn, rgb(42, 130, 179), rgb(142, 219, 253));
    width: 200px;
    height: 50px;
    border-radius: 50px;
    transition: all .3s linear;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    
    
}

.bouton button:hover{
    background: linear-gradient(0.25turn, rgb(43, 178, 229), rgb(193, 243, 253));
    transform: scale(1.05);
    color: rgb(254, 234, 17);
}
/*main*/
.titre{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.titre h2{
    text-align: center;
    font-family: 'Satisfy', cursive;
    color:whitesmoke;
    font-size: 7em;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.904) 8px 8px 6px;
    background-image: url(../img/old-barn-wood-background.jpg);
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid whitesmoke;
}
.carousel{
    margin: auto !important;
   
}

.carousel-control-prev{
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50px;
}

.carousel-control-next{
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
}
.carousel-inner{
    border-radius: 20px;
    margin-top: 200px;
    
}
.carousel-inner .carousel-item h5{
    padding: 50px ;
  
    font-size: 3em;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}
.carousel-inner .carousel-item p{
    font-size: 2em;
    font-family: 'Satisfy', cursive;
}
.carousel-inner .card img{
    border-bottom-left-radius: 200px 50px;
    border-bottom-right-radius: 200px 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.card{
    text-align: center;
    margin: 200px auto ;
    border-radius: 20px;
    background-color: rgb(254, 234, 17);
    width: 35rem;

}

.card .btn {
    background-color: rgb(99, 142, 254);
    border: 2px solid whitesmoke;
    padding:  2% 5%;
    font-size: 1.5em;
    font-family: 'Satisfy', cursive;
    border-radius: 50px;
}

.card-text{
    height: 300px;
    
}


/*footer*/

footer{
    
    background-color:rgba(0, 0, 0, 0.466);
    width: 90%;
    margin: 200px auto 10px auto;
    padding: 20px 1%;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0, 0.8) 8px 8px 6px
}
footer .row{
    text-align: center;
}
footer p{
    font-size: 3em;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: whitesmoke;
}
footer a{
    display: block;
    font-size: 1.5em;
    padding: 10px 0;
}
.network{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

   
.network a{
    font-size:2.5em;
    transform: scale(1);
    margin: 5px 25px 25px 25px;
   
}
.network a:hover{
    transform: scale(1.5);
    transition: transform .3s ease-in-out;
}
#suivie{
    margin:0;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.copy{
    text-align: center;
    color: rgb(163, 163, 163);
    margin: 30px auto 50px auto;
}
@media only screen and (max-width: 740px){   
    .numvert{
        font-size: 0.9em;
    }

    .log{
        font-size: 0.9em;
    }

    .sub{
        font-size: 0.9em;
    }

    .logo{
         padding-top: 120px;
    }

    .logo img{
        width: 140px;
        height: 100px;

    }

    .nav{
        margin: 0;
    }

    .nav ul{
        padding: 0;
        display: inline;
        font-size: 0.8em;
        margin: 40% auto;
    }

    .nav ul li{
        padding: 0 15px 0 15px;
    }

    .videoHeader{
        display: none;
    }

    h1{
        font-size: 2.2em;
        margin: 0;
        padding: 120px 0 120px 0;
    }

    .bouton{   
        font-size: 1em;
    }

    .mybuttons{
        display: block;
        width: 60%;
        margin: 5px auto;
    }

    #vide{
        display: none;
    }

    .defileParent{
        display: none;
    }

    .carousel{
        margin: 0 auto;
        padding: 0;
    }

    .card{
        margin: 0 auto 25px auto;
        padding: 0;
        width: 18rem;
        
    }
    .carousel-indicators{
      bottom: -10px;
    }
    .card-text{
        height: 150px;
        
    }

    .card img{
        display: none;
    }

    .card .card-body .card-title{
        font-size: 1.8em;
    }

    .card .card-body .card-text{
        font-size: 1.1em;
    }

    .card .card-body a{
        font-size: 0.9em;
    }

    footer{
        margin: 110px auto 30px auto;
    }

    footer p{
        font-size: 1em;
    }

    footer a{
        font-size: 0.9em;
    }

    #suivie p{
        font-size: 1.5em;
        margin: 0;
    }

    .network a{
        font-size: 1.4em;
        margin: auto;
    }

    .copy p{
        font-size: 0.7em;
        margin: 0;
    }
};

@media only screen and (min-width:740px) and (max-width: 1600px){
    .logo{
        display: none;
    }
    #vide{
        display: none;
    }

    .nav{
        margin: 0;
    }

    .nav ul{
        font-size: 1.2em;
        margin: 70% auto 10% auto;
    }

    .numvert{
        font-size: 1em;
    }

    .log{
        font-size: 1em;
    }

    .sub{
        font-size: 1em;
    }

    h1{
        font-size: 2.5em;
    }

    button{   
        font-size: 1.1em;
    }

    #vide{
        display: none;
    }

    .defileParent{
        margin: 130px 0 0 0;
        font-size: 0.7em;
        padding: 10px 0 0 0;
    }

    .card{
        margin: 0 auto;
        padding: 0;
      
       
    }

    footer{
        margin: 150px auto 10px auto;
    }

    footer p{
        font-size: 1.8em;
    }

    footer a{
        font-size: 1.2em;
    }

    #suivie p{
        font-size: 1.9em;
        margin: 0;
    }

    .network a{
        font-size: 1.7em;
        margin: auto;
    }

    .copy p{
        font-size: 1.2em;
        margin: 0;
    }
};
