@import url('https://fonts.googleapis.com/css?family=Acme|Patrick+Hand&display=swap');
/*lg screen first*/

/* 
font-family: 'Acme', sans-serif;

font-family: 'Patrick Hand', cursive; */
p{
    margin: 0;
}

body{ 
    background-image: url(../img/entree_fistiland.jpg);
    color: white;
}
   

.container{
    position: relative;
    height: 95vh;
}
.logo{
    width: 200px;
    margin: 50px auto 10px auto;
}
.logo img{
    height: 200px;
}
.load{
    text-align: center;
    margin: 20px 0 40px 0;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;

}
.load p, .load span{
    font-size: 50px;
}
.load .skills{
    height: 50px;
    width: 80%;
    border: 2px solid yellow;
    border-radius: 3px;
    margin: auto;
}
.skill{
    height: 48px;
    background-color: yellow;
}
.fisti{
    position: absolute;
    bottom: 0;
    display: none;
}
.message{
    background-color: yellow;
    color: black;
    padding: 30px 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
    border-radius: 10px;
}

.message p {
    padding: 0 30px;
    font-family: 'Acme', sans-serif;
    font-size: 1.1em;
}

.monbouton{
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Patrick Hand', cursive;
}
/*mobile*/
@media only screen and (max-width: 540px){
    .logo img{
        height: 70px;
    }
    .logo{
        width: 70px;
        margin: 30px auto;
    }
    .load p, .load span{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .message {
        width: 100%;
        padding: 10px 10px;
    }
    .message p{
        padding: 8px 2px;
        font-size: 0.8em;
    }
    .monbouton{
        margin: auto;
        margin-top: 5px;
    }
    .skills{
        margin: 0 auto 10px auto !important;
    }
}

@media only screen and (min-width: 1140px){
    .fisti{
        display: block;
    }
}